extends layout 
block content 
    // Header Start
    div(class="container-fluid header bg-white p-0")
        div(class="row g-0 align-items-center flex-column-reverse flex-md-row")
            div(class="col-md-6 p-5 mt-lg-5")
                h1(class="display-5 animate__animated animate__fadeIn mb-4") About Us 
                nav(aria-label="breadcrumb animated fadeIn")
                    ol(class="breadcrumb text-uppercase")
                        li(class="breadcrumb-item") 
                            a(href="#") Home
                        li(class="breadcrumb-item") 
                            a(href="#") Pages
                        li(class="breadcrumb-item text-body active" aria-current="page") About
            div(class="col-md-6 animated fadeIn")
                img(class="img-fluid" src="/images/headerLogo2.png" alt="")
    // Header End
    // About Start
    div(class="container-xxl py-5 bg-white")
            div(class="container")
                div(class="row g-5 align-items-center")
                    div(class="col-lg-6 wow animate__animated animate__slideInLeft" data-wow-delay="0.1s")
                        div(class="position-relative overflow-hidden p-5 pe-0")
                            img(class="img-fluid w-100" src="/images/aboutPage.png")
                        
                
                    div(class="col-lg-6 wow animate__animated animate__slideInRight" data-wow-delay="0.5s")
                        h1(class="mb-4") #1 Place To Prepare For The Perfect Job
                        h6(class="text-primary text-capitalize mb-4") JKPACE (Jammu and Kashmir Portal for Aspirants of Competitive Examinations) tests your knowledge and rewards you big
                        ol 
                            li JKPACE is the only portal of its kind in the Union Territory of Jammu and Kashmir that lets you prepare for your future examinations and rewards you in a way that  keeps you motivated.
                            li The main aim of JKPACE is to streamline  for you the erratic examination schedule of Jammu and Kashmir Service Selection Board (JKSSB) and Jammu and Kashmir Public Service Commission (JKPSC) by keeping you motivated and help your prepare for these examinations throughout the year. 
                            li JKPACE helps you compete with all others in J&K UT and lets you know you rank at the UT level so that you could accordingly take steps for your preparation.
                            li JKPACE is developed using state of the art web technology. Everything is encrpted so that there is  no theft of candidate's confidential information. From paper setting to result generation, everything is automated, so that there is no human interference and 100% transparency.
                            li JKPACE is based on the philosophy of incentives. No body works consistently and perfectly if there are no incentives. Incentivizing the portal helps the candidates to push to their extreme limits during their examination preparation by rewarding big.
                            li JKPACE is developed particularly for the candidates of Jammu and Kashmir, who are hardcore addicts of Fantasy Applications like Dream11. It will help the candidates channel their energy towards their ultimate goal of getting a decent job in Jammu and Kashmir. The only wish of JKPACE developer is to divert candidates from these fastasy applications towards something that will benefit them in the end.
                            li Everthing has been taken care of while developing JKPACE so that all candidates are satisfied with the transparency. But we all know to err is human and no body is perfect in this world, so if there are any suggestions feel free to contact me via contact page. 
    // About End