extends layout 
block content 
    div(class="container-xxl")
        div(class="container-fluid")
            div(class="row my-5")
                div(class="col-md-2")
                div(class="col-md-8")
                    div(class="fw-bold fs-3 text-uppercase text-center") FAQS
                    span(class="fw-bold fs-6 text-capitalize border-bottom") Marking Scheme 
                    p 
                        span Every correct answer gets +1 marks.
                    p 
                        span There is a penalty of -0.25 for each incorrect answer.
                    p 
                        span There is no penalty for unattempted questions.
                    span(class="fw-bold fs-6 text-capitalize  border-bottom") What if i am not able to login on time?
                    p 
                        span As it is online examination you have to login sharp on time. If you will not login on time, you are going to miss the examination.
                    span(class="fw-bold fs-6 text-capitalize border-bottom") System Requirements to take JKPACE Online Examination 
                    p 
                        span JKPACE online examination can be taken on any Laptop, Desktop, Mobile Phone or Tablet. For best user experience, we recommend laptop with an updated Chrome Browser.
                    p 
                        span Kindly check your device, browser and your internet connection, to make sure you get a hassle free experience.
                    span(class="fw-bold fs-6 text-capitalize border-bottom") What if i want to appear for JKPACE  Examination at a physical center?
                    p   
                        span JKPACE examination is online. You can choose any place as per your convenience.
                    span(class="fw-bold fs-6 text-capitalize border-bottom") What if i forget my login emial and Password?
                    p 
                        span Only way to login is using your registered email and password. However you can reset your password by clicking on forget password.
                    span(class="fw-bold fs-6 text-capitalize border-bottom") Can I reschedule my test?
                    p   
                        span No, you can not.
                    span(class="fw-bold fs-6 text-capitalize  border-bottom") Can i appear for the test in urdu/hindi language?
                    p   
                        span No, the test will be available only in English language. 
                    span(class="fw-bold fs-6 text-capitalize border-bottom") When will the results be announced?
                    p   
                        span The results are displayed immediately on completion of the examination.
                    span(class="fw-bold fs-6 text-capitalize border-bottom") How will the top scorer get rewarded?
                    p   
                        span The prize money is already displayed on the particular examination. On completion of the examination, the top scorer will receive a call from JKPACE regarding account details.
                    span(class="fw-bold fs-6 text-capitalize border-bottom") Dos and don'ts 
                    ol 
                        li Test your internet connection and browser on your device before starting the examination.
                        li Do not exit full screen(the test will end).
                        li Don not press ESC key on laptop/desktop(the test will end).
                        li Do not press back button on smart phone or tablet (the test will end).
                        li Do not refresh your page.
                div(class="col-md-2")