doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0")
    
    link(rel='stylesheet', href='/stylesheets/customBootstrap.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/animate.css')

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)


    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap')
    script(src="https://kit.fontawesome.com/8607c2225d.js" crossorigin="anonymous")
    
  
  body
    // nav start
    div(class='container-fluid nav-bar bg-transparent sticky-top')
      nav(class='navbar navbar-expand-lg bg-white navbar-light py-0 px-4')
        a(class='navbar-brand d-flex align-items-center text-center' href="/")
          img(class=' icon img-fluid' src='/images/mainlogo.png' alt='Icon' )
        button(type='button' class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarCollapse')
          span(class='navbar-toggler-icon')
        div(class='collapse navbar-collapse' id='navbarCollapse')
          div(class= 'navbar-nav ms-auto')
            a(class='nav-item nav-link active' href='/') Home
            a(class='nav-item nav-link' href='/about') About
            a(class='nav-item nav-link' href='/contact') Contact
            if user
              a(class='nav-item nav-link' href='/logout') logout
              span(class='nav-item nav-link') |
              a(class='nav-item nav-link' href='/account/'+user.id)= user.name
            else
              a(class='nav-item nav-link' href='/login') Login 
              a(class='nav-item nav-link' href='/signup') Register
    // nav end
    block content
    // Footer Start
    div(class='container-fluid bg-dark text-white-50 footer mt-2')
        div(class='container py-3')
            div(class="row g-5")
                div(class="col-lg-4 col-md-6 wow animate__animated animate__slideInLeft" data-wow-delay="0.1s")
                    div(class="text-white fw-bold fs-5 mb-4") Get In Touch
                    p(class="mb-2") 
                      i(class="fa fa-map-marker-alt me-3") 
                      span Pattan-193121, Baramulla, J&K
                    p(class="mb-2") 
                      i(class="fa fa-phone-alt me-3") 
                      span 01954295076
                    p(class="mb-2") 
                      i(class="fa fa-envelope me-3") 
                      span jkpace.help@gmail.com
                    div(class="d-flex pt-2")
                      a(class="btn btn-outline-light btn-social" href="https://www.twitter.com") 
                        i(class="fab fa-twitter")
                      a(class="btn btn-outline-light btn-social" href="https://www.facebook.com") 
                        i(class="fab fa-facebook-f")
                      a(class="btn btn-outline-light btn-social" href="https://www.youtube.com") 
                        i(class="fab fa-youtube")
                      a(class="btn btn-outline-light btn-social" href="https://in.linkedin.com") 
                        i(class="fab fa-linkedin-in")
                    
                div(class="col-lg-4 col-md-6 wow animate__animated animate__fadeInUp" data-wow-delay="0.1s")
                  div(class="text-white fw-bold fs-5 mb-4") Quick Links
                  a(class="btn btn-link text-white-50" href="/about") About Us
                  a(class="btn btn-link text-white-50" href="/contact") Contact Us
                  a(class="btn btn-link text-white-50" href="/refund-policy") Refund Policy
                  a(class="btn btn-link text-white-50" href="/privacy-policy") Privacy Policy
                  a(class="btn btn-link text-white-50" href="terms-conditions") Terms & Condition
                    
                div(class="col-lg-4 col-md-6 wow animate__animated animate__slideInRight" data-wow-delay="0.1s")
                  div(class="text-white fw-bold fs-5 mb-4") Newsletter
                  p Enter your email to get the lastest updates.
                  div(class="position-relative mx-auto" style={maxWidth: '400px'})
                    input(class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email")
                    button(class="btn btn-primary text-light py-2 position-absolute top-0 end-0 mt-2 me-2")
                      i(class="fas fa-envelope fa-lg")

        div(class="container")
          div(class="copyright")
            div(class="row")
              div(class="col-md-6 text-center text-md-start mb-3 mb-md-0")
                span &copy;
                a(class="border-bottom" href="#") JKPACE, 2022
                span , All Right Reserved. Developed By 
                a(class="border-bottom" href="#") asmat.io
              div(class="col-md-6 text-center text-md-end")
                div(class="footer-menu")
                  a(href="/") Home
                  a(href="/contact") Contact
                  a(href="/faqs") FAQs
    // Footer End
    script(src='/javascripts/bootstrap.min.js' type='text/javascript')
    script(src="/javascripts/wow.min.js" type='text/javascript')
    script(src="/javascripts/wow.js")
