extends layout 
block content 
    div(class="container-xxl")
        div(class="container-fluid")
            div(class="row py-5")
                div(class="col-md-2")
                div(class="col-md-8")
                    div(class="fw-bold fs-5 text-uppercase text-center") Refund Policy
                    p Welcome to jkpace 
                    p 
                        span jkpace (“us”, “we”, or “our”) operates www.jkpace.net (hereinafter referred to as “Service”).
                    p 
                        span jkpace operates the following refund policy:
                    ol 
                        li You will get full refund if jkpace was not able to fulfill your services.
                        li You will get full refund if your are not able to give the examination on time because of issues related to jkpace's infrastructure.
                        li Full refund will be credited  into your account if the examination was cancelled by jkpace within a period of 7 days.
                        li if you are not able to login on time to appear in the examination, no refund will be given.
                        li No refund will be given if you are not able to complete your examination because of issues regarding your device (poor internet connectivity, battery low and so on).
                div(class="col-md-2")